body {
    margin: 0;
    padding: 0;
}

.whole-page {
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    padding: 30px 30px;
    background-color: #ffffff;
    border-right: 1px solid #D9D9D9;
}

.sidebar-content {
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.b3slogo {
    width: 55px;
    height: 55px;
}

.brand-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2F2E2E;
}

.brand-title {
    font-family: Poppins; 
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
}

.sidebar-dashboard {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px 0;
}

.sidebar-dashboard a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #2F2E2E;
    padding: 20px 30px;
}

.sidebar-dashboard a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-dashboard::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar-menu a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-menu a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-menu::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-dashboard i, .sidebar-menu i, .sidebar-learning i, .sidebar-account i {
    margin-right: 10px;
}

.sidebar-learning {
    display: flex;
    flex-direction: column;
}

.sidebar-learning a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-learning a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-learning::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-account {
    display: flex;
    flex-direction: column;
}

.sidebar a.active, .sidebar button.active {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.profile, .logout {
    border: none;
    background: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    margin-top: 20px;
    padding: 20px 30px;
}

.profile:hover, .logout:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: calc(100% - 300px);
    height: calc(100vh - 120px);
    margin-left: 300px;
    margin-top: 120px;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: calc(100% - 300px);
    padding: 40px 30px;
    background-color: #ffffff;
    justify-content: center;
    z-index: 1000;
}

h3 {
    font-family: Poppins;
    font-size: 22px;
    font-weight: bold;
    color: #2F2E2E;
}

h2 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: normal;
    color: #2F2E2E;
}

.page-content {
    padding: 30px 30px;
    background-color: #f5f5f5;
}

.page-content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-content-header h2 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    color: #2F2E2E;
    margin-bottom: 20px;
}

.show-sales {
    margin-bottom: 10px;
}

.sales-info-container {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 1s ease, max-height 1s ease;
    display: flex; /* Ensure it uses flex layout when shown */
}

.sales-info-container.show {
    opacity: 1;
    max-height: 1000px; /* Adjust as needed to fit your content */
}

.sales-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
    gap: 20px;
}

.popular-package {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-height: 460px;
    width: 50%;
}

.popular-package h4 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    color: #585353;
    margin-right: 10px;
}

.availed-package {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#popularPackage {
    font-size: 22px;
}

.total-sales {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-height: 460px;
    width: 50%;
}

.total-sales h4 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    color: #585353;
    margin-right: 10px;
}

.amount-sales {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#yearlySalesAmount {
    font-size: 22px;
}

.filter-date {
    display: flex;
    flex-direction: row;
    width: 20%;
    gap: 10px;
}

.custom-dropdown {
    position: relative;
    width: 50%;
    cursor: pointer;
    font-family: Poppins;
    font-size: 14px;
}

.selected {
    border: 1px solid #D9D9D9;
    padding: 10px 20px;
    height: 30px;
    border-radius: 10px;
    color: #2F2E2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.selected:after {
    content: '\25BC';
    font-size: 12px;
    color: #142A74;
    margin-left: 10px;
    position: absolute;
    right: 10px;
}

.dropdown-options {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    position: absolute;
    width: 100%;
    top: calc(100% + 5px);
    left: 0;
    z-index: 10;
    display: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 250px;
    overflow-y: auto;
}

#yearOptionsInfo {
    top: calc(60% + 5px);
}

.option {
    padding: 10px;
    color: #2F2E2E;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.option:hover {
    background-color: #142A74;
    color: #ffffff;
}

.custom-dropdown.open .dropdown-options {
    display: block;
}

.selected:hover, .selected:focus {
    border-color: #142A74;
    box-shadow: 0px 0px 4px 2px rgba(20, 42, 116, 0.5);
}

.page-body {
    margin-top: 10px;
}

.sales-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-height: 760px;
}

.table-headers-title{
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    color: #585353;
    text-align: left;
    justify-content: space-around;
}

.sales-list {
    font-family: Poppins;
    font-size: 14px;
    text-align: left;
}

.table th, .table td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
}

.table th {
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    color: #585353;
    text-align: left;
    vertical-align: middle;
}

.table-row-content {
    justify-content: center;
    align-items: center;
    text-align: left;
    vertical-align: middle;
}

.table-row i {
    font-size: 24px;
    color: #2F2E2E;
    border: none;
    background: none;
    display: flex;
    padding-left: 15px;
    cursor: pointer;
}

.table td:nth-child(3), .table th:nth-child(3), .table td:nth-child(4), .table th:nth-child(4), .table td:nth-child(5), .table th:nth-child(5), .table td:nth-child(6), .table th:nth-child(6) {
    text-align: center;
    vertical-align: middle;
}

.table td:nth-child(7) .action-button {
    display: flex;
    justify-content: center;
}

.table td:nth-child(7) .edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
}

.pagination {
    margin-top: auto;
}

.pagination-controls {
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    color: #2F2E2E;
    margin-left: auto;
    margin-right: 20px;
    margin-top: auto;
}

.pagination-controls .page-number {
    margin: 0 10px;
}

.pagination-controls .bi-caret-left, .pagination-controls .bi-caret-right {
    font-size: 32px;
    color: #142A74;
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.pagination-controls .bi-caret-left.disabled, .pagination-controls .bi-caret-right.disabled {
    opacity: 0.5;
    cursor: default;
}

.pagination-controls .bi-caret-left:hover, .pagination-controls .bi-caret-right:hover {
    color: #2045CF;
}

@keyframes popOut {
    0% {
        opacity: 0;
        transform: scale(0.5); /* Starts smaller */
    }
    80% {
        transform: scale(1.05); /* Slight overshoot for a popping effect */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* Full size */
    }
}

.modal-content {
    animation: popOut 0.4s ease; /* Duration of the pop-out animation */
}

.modal-header, .modal-body, .input-body, .modal-footer {
    border: none;
}

.modal-header h4{
    font-family: Poppins;
    font-weight: bold;
}

.modal-dialog {
    top: 30%;
    left: 5%;
    border-radius: 20px;
}

.modal-content {
    font-family: Poppins;
    border-radius: 20px;
    padding: 20px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

#editSalesModal .modal-dialog {
    top: 20%;
    left: 5%;
    border-radius: 20px;
}

#editSalesModal .modal-content {
    padding: 20px;
    border-radius: 20px;
}

#editSalesModal .modal-header {
    border-bottom: none;
    color: #142A74;
}

#editSalesModal .modal-body {
    padding: 10px;
}

#editSalesModal .modal-footer {
    border-top: none;
}

.edit-sales-name, .edit-sales-package, .edit-sales-payment, .edit-sales-date, .edit-sales-amount {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.update-sales {
    background-color: #142A74;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.update-sales:hover {
    background-color: #1B3286;
}

.close-edit-modal {
    background-color: #7B1719;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.close-edit-modal:hover {
    background-color: #c9302c;
}

.input-body {
    display: flex;
    flex-direction: column;
}

.input-body input {
    font-family: Poppins;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    margin-top: 10px;
}

/* Cancel Button */
.btn-cancel {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #1B3286; 
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-cancel:hover {
    background-color: #142A74; 
}

/* Logout Button */
.btn-logout {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #B60505;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-logout:hover {
    background-color: #c9302c; 
}

#toggleSalesInfo {
    background-color: #142A74; /* Primary color */
    color: #fff; /* Text color */
    border: none;
    border-radius: 10px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    font-size: 14px; /* Adjust font size */
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}

#toggleSalesInfo:hover {
    background-color: #142A74; /* Darker shade on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}