body {
    margin: 0;
    padding: 0;
}

.whole-page {
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    padding: 30px 30px;
    background-color: #ffffff;
    border-right: 1px solid #D9D9D9;
}

.sidebar-content {
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.b3slogo {
    width: 55px;
    height: 55px;
}

.brand-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2F2E2E;
}

.brand-title {
    font-family: Poppins; 
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
}

.sidebar-dashboard {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px 0;
}

.sidebar-dashboard a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #2F2E2E;
    padding: 20px 30px;
}

.sidebar-dashboard a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-dashboard::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar-menu a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-menu a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-menu::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-dashboard i, .sidebar-menu i, .sidebar-learning i, .sidebar-account i {
    margin-right: 10px;
}

.sidebar-learning {
    display: flex;
    flex-direction: column;
}

.sidebar-learning a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-learning a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-learning::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-account {
    display: flex;
    flex-direction: column;
}

.sidebar a.active, .sidebar button.active {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.profile, .logout {
    border: none;
    background: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    margin-top: 20px;
    padding: 20px 30px;
}

.profile:hover, .logout:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 300px;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: calc(100% - 300px);
    padding: 40px 30px;
    background-color: #ffffff;
    justify-content: center;
    z-index: 1000;
}

h3 {
    font-family: Poppins;
    font-size: 22px;
    font-weight: bold;
    color: #2F2E2E;
}

h2 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: normal;
    color: #2F2E2E;
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 30px 30px;
    background-color: #f5f5f5;
}

.bi-arrow-left {
    font-size: 24px;
    color: #142A74;
}

.page-content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dashboard-bttns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-right {
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #142A74;
    color: #142A74;
    border-radius: 10px;
    padding: 20px 60px;
    margin: 10px;
}

.button-right:hover {
    text-decoration: none;
    background: linear-gradient(#102369 ,#18349C, #2045CF);
    color: #ffffff;
}

.button-right.active {
    background: linear-gradient(#102369, #18349C, #2045CF);
    color: #ffffff;
    border: 2px solid #142A74;
}

.page-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page-body h2 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    color: #585353;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.manual-instructor {
    background-color: #1B3286;
    color: #ffffff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
}

.manual-instructor:hover {
    color: #ffffff;
    background-color: #142A74;
    text-decoration: none;
}

.add-instructor {
    background-color: #1B3286;
    color: #ffffff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
}

.add-instructor:hover {
    background-color: #142A74;

}

.upcomming-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-height: 760px;
}

.table-headers-title th {
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    color: #585353;
    text-align: left;
}

.instructor-list {
    font-family: Poppins;
    font-size: 20px;
    text-align: left;
}

.instructor-list i {
    font-size: 24px;
    color: #2F2E2E;
    border: none;
    background: none;
    display: flex;
    padding-left: 15px;
    cursor: pointer;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid #D9D9D9;
}

.table th {
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    color: #585353;
    text-align: left;
    vertical-align: middle;
}

.table th:nth-child(4) {
    text-align: center;
}

.table td:nth-child(4) {
    text-align: center;
}

.table td img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #dfe4ea;
    margin-right: 10px;
}

.table-row-content {
    justify-content: center;
    align-items: center;
    text-align: left;
    vertical-align: middle;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown i {
    background: none;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    z-index: 1;
    min-width: 120px;
}

.dropdown-content i {
    font-size: 14px;
    color: #2F2E2E;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content i:hover {
    background-color: #142A74;
    color: #ffffff;
    border-radius: 10px;
}

.show {
    display: block;
}

.clicked-option {
    background-color: #142A74;
    color: #ffffff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.3s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.slider-label-off, .slider-label-on {
    position: absolute;
    font-size: 10px;
    top: 5px;
    transition: opacity 0.1s;
}

.slider-label-off {
    left: 25px;
    color: white;
}

.slider-label-on {
    right: 25px;
    color: white;
    opacity: 0; /* Initially hidden */
}

input:checked + .slider {
    background-color: #18349C;
}

input:checked + .slider:before {
    transform: translateX(25px);
}

input:checked + .slider .slider-label-off {
    opacity: 0; /* Hide the OFF label when switch is on */
}

input:checked + .slider .slider-label-on {
    opacity: 1; /* Show the ON label when switch is on */
}

.table-row button {
    background: none;
    border: none;
    cursor: pointer;
}

.table-row i {
    font-size: 24px;
    color: #2F2E2E;
    border: none;
    background: none;
    display: flex;
    padding-left: 15px;
    cursor: pointer;
}

.title-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cancelled-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 30px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-container {
    display: flex;
    align-items: center;
    width: 30%;
    background-color: #F4F4F4;
    border-radius: 30px;
    position: relative;
    padding-left: 10px;
    border: 1px solid #D9D9D9;
}

.search {
    background-color: #F4F4F4;
    color: #2F2E2E;
    outline: none;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 30px;
}

.search::placeholder {
    color: #8d8b8b;
}

.view {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    color: #585353;
    border: none;
    background: none;
    text-decoration: underline;
}

.pagination-controls {
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    color: #2F2E2E;
    margin-left: auto;
    margin-right: 20px;
    margin-top: auto;
}

.pagination-controls .page-number {
    margin: 0 10px;
}

.pagination-controls .bi-caret-left, .pagination-controls .bi-caret-right {
    font-size: 32px;
    color: #142A74;
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.pagination-controls .bi-caret-left.disabled, .pagination-controls .bi-caret-right.disabled {
    opacity: 0.5;
    cursor: pointer;
}

@keyframes popOut {
    0% {
        opacity: 0;
        transform: scale(0.5); /* Starts smaller */
    }
    80% {
        transform: scale(1.05); /* Slight overshoot for a popping effect */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* Full size */
    }
}

.modal-content {
    animation: popOut 0.4s ease; /* Duration of the pop-out animation */
}

.modal-header, .modal-body, .input-body, .modal-footer {
    border: none;
}

.modal-header h4{
    font-family: Poppins;
    font-weight: bold;
    color: #142A74;
}

.modal-title {
    font-family: Poppins;
    font-weight: bold;
    color: #142A74;
}

.modal-dialog {
    top: 30%;
    left: 5%;
    border-radius: 20px;
}

.modal-content {
    font-family: Poppins;
    border-radius: 20px;
    padding: 20px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.close {
    font-size: 24px;
    color: #142A74;
    cursor: pointer;
}

#instructorModal .modal-dialog {
    top: auto;
    left: 5%;
    border-radius: 20px;
}
    
#instructorModal .modal-body {
    max-height: 700px;
    overflow-y: auto;
}

#instructorModal .modal-content {
    font-family: Poppins;
    border-radius: 20px;
    padding: 20px;
}

#profilePicPreview {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #dfe4ea;
}

#uploadIcon {
    position: absolute;
    top: 150px;
    left: 260px;
    color: #ffffff;
    background-color: #2f3542;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

#uploadIcon:hover {
    background-color: #57606f;
}

.instructor-name {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.form-group-all {
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox input + .checkbox-label {
    position: relative;
    padding-left: 30px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    color: #2F2E2E;
}

.custom-checkbox input + .checkbox-label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #2F2E2E;
    border-radius: 4px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.custom-checkbox input:checked + .checkbox-label::before {
    background-color: #142A74;
    border-color: #142A74;
}

.custom-checkbox input + .checkbox-label::after {
    content: '\2714';
    position: absolute;
    left: 4px;
    top: 0px;
    font-size: 14px;
    color: #ffffff;
    opacity: 0;
    transition: all 0.3s ease;
}

.custom-checkbox input:checked + .checkbox-label::after {
    opacity: 1;
}

.personal-traits {
    margin-bottom: 20px;
}

.personal-traits h5 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    color: #142A74;
    margin-bottom: 15px;
}

.traits {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

.traits-input-container {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 5px;
    position: relative;
}

.traits-input {
    outline: none;
    width: 100%;
    padding: 10px;
    border: none;
}

.add-trait {
    position: absolute;
    right: 0;
    background-color: #142A74;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.traits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.trait-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-basis: calc(33.33% - 10px);
    max-width: calc(33.33% - 10px);
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.remove-trait {
    background: none;
    border: none;
}

.remove-trait i {
    vertical-align: middle;
    color: #B60505;
    background: none;
    border: none;
    cursor: pointer;
}

.save-instructor {
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
    background-color: #142A74;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
}

.save-instructor:hover {
    background-color: #142a74ec;
}

.close-modal{
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
    background-color: #B60505;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
}

.close-modal:hover {
    background-color: #b60505ec;
}

.btn-primary {
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
    background-color: #B60505;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
}

.btn-primary:hover {
    background-color: #b60505ec;
}

.btn-secondary {
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
    background-color: #142A74;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
}

.btn-secondary:hover {
    background-color: #142a74ec;
}

/* Cancel Button */
.btn-cancel {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #1B3286; 
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-cancel:hover {
    background-color: #142A74; 
}

.comment {
    min-height: 90px;
    max-height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #D9D9D9;
    padding: 10px;
}

.comment p {
    font-size: 11px;
    color: #2F2E2E;
}

.comment span {
    font-size: 12px;
    font-weight: 600;
    color: #2F2E2E;
    margin-left: 30px;
}

.feedback-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feedback-date {
    display: flex;
    align-items: flex-end;
    font-size: 11px;
    color: #2F2E2E;
}

.comment i.bi-star-fill {
    color: #FFD700;
    font-size: 14px;
}

.comment i.bi-star {
    color: #ccc;
    font-size: 14px;
}

#feedbackOverviewModal .modal-dialog {
    top: 5%;
    left: 5%;
    border-radius: 20px;
}
    
#feedbackOverviewModal .modal-body {
    height: 700px;
    overflow-y: auto;
}

#feedbackOverviewModal .modal-content {
    font-family: Poppins;
    border-radius: 20px;
    padding: 20px;
}

/* Logout Button */
.btn-logout {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #B60505;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-logout:hover {
    background-color: #c9302c; 
}

.loader1 {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 84.3%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.loader1 .car-loader {
    width: 80px;
    height: 80px;
    border: 4px solid #ccc;
    border-radius: 50%;
    border-top: 4px solid #142A74;
    animation: spin 2s linear infinite;
    position: relative;
}

.loader1 p {
    margin-top: 20px;
    font-size: 18px;
    color: #142A74;
    position: relative;
}

.dots {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

.dots::after {
    content: '';
    display: inline-block;
    animation: dot-flashing 1.5s infinite linear;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes dot-flashing {
    0% {
        content: '.';
    }
    25% {
        content: '..';
    }
    50% {
        content: '...';
    }
    75% {
        content: '..';
    }
    100% {
        content: '.';
    }
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #142A74;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1B3286;
}