body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.whole-page {
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    padding: 30px 30px;
    background-color: #ffffff;
    border-right: 1px solid #D9D9D9;
}

.sidebar-content {
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.b3slogo {
    width: 55px;
    height: 55px;
}

.brand-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2F2E2E;
}

.brand-title {
    font-family: Poppins; 
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
}

.sub-title {
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
}

.sidebar-dashboard {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px 0;
}

.sidebar-dashboard a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #2F2E2E;
    padding: 20px 30px;
}

.sidebar-dashboard a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-dashboard::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar-menu a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-menu a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-menu::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-dashboard i, .sidebar-menu i, .sidebar-learning i, .sidebar-account i {
    margin-right: 10px;
}

.sidebar-learning {
    display: flex;
    flex-direction: column;
}

.sidebar-learning a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-learning a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-learning::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-account {
    display: flex;
    flex-direction: column;
}

.sidebar a.active, .sidebar button.active {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.profile, .logout {
    border: none;
    background: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    margin-top: 20px;
    padding: 20px 30px;
}

.profile:hover, .logout:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.main-content {
    flex: 1;
    margin-left: 300px;
    padding: 30px 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 5px;
}

.search-container i {
    margin-left: 10px;
}

.search-container input {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
}

.page-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 30px 30px;
    background-color: #f5f5f5;
}

.left-container {
    flex: 1;
    margin-right: 20px;
}

.right-container {
    flex: 2;
}

.calendar {
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.calendar header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar nav {
    display: flex;
    align-items: center;
}

.calendar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.calendar ul li {
    width: calc(100% / 7);
    margin-top: 25px;
    position: relative;
    z-index: 2;
}

#prev,
#next {
    width: 30px;
    height: 30px;
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
}

#prev::before,
#next::before {
    content: "";
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    border-color: #ccc;
}

#next::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

#prev::before {
    transform: translate(-50%, -50%) rotate(-135deg);
}

#prev:hover::before,
#next:hover::before {
    border-color: #000;
}

.days {
    font-weight: 600;
}

.dates li.today {
    color: #fff;
}

.dates li.today::before {
    content: "";
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    border-radius: 50%;
    z-index: -1;
}

.dates li {
    cursor: pointer;
}

.dates li.inactive {
    cursor: default;
}

.calendar-legend {
    margin-top: 20px; /* Adjust as needed */
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.legend-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.available {
    background-color: #198926;
}

.full {
    background-color: #D21A1D;
}

.legend-text {
    font-family: Poppins;
    font-size: 14px;
}

.full-date {
    background-color: #D21A1D;
    color: #fff;
    border-radius: 50%;
  }
  
  .available-date {
    background-color: #198926;
    color: #fff;
    border-radius: 50%;
  }
  
.course-section {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%; /* Reduced width */
    max-width: 100%; /* Ensures it doesn’t exceed the parent width */
}

.course-header {
    background-color: #142a74;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    font-size: 18px;
    font-weight: bold;
}

.course-body {
    display: flex;
    flex-direction: column;
}

.course-body label {
    margin-top: 10px;
    margin-bottom: 10px; /* Add spacing between the labels */
    font-family: Poppins;
    font-size: 20px;
}

.form-check {
    margin-bottom: 15px;
}

.form-check-input {
    margin-right: 10px;
}

.form-check-label {
    font-family: Poppins;
    font-size: 20px;
}
.slots-section {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin-top: 20px;
}

.slots-header {
    background-color: #142a74;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    font-size: 18px;
    font-weight: bold;
}

.slots-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.date-container {
    display: flex;
    align-items: center;
}

.date-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    outline: none;
}

.date-container i {
    margin-left: -30px;
    color: #142a74;
    cursor: pointer;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-add {
    background-color: #142a74;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn-add:hover {
    background-color: #0d1b4e;
}/* Add these styles to your existing CSS file */

.available-slots {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin-top: -20px; /* Adjust this value as needed */
}


.available-slots-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #142a74;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    font-size: 18px;
    font-weight: bold;
}

.kebab-menu {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
}

.dropdown-item {
    font-family: Poppins;
    font-size: 14px;
    color: #2F2E2E;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.available-slots-body {
    padding: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    border-bottom: 1px solid #D9D9D9;
    text-align: left;
}

.table th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.table td {
    background-color: #ffffff;
}
.kebab-menu {
    position: relative;
    display: inline-block;
  }
  
  .kebab-button {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .kebab-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }
  
  .kebab-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .kebab-content a:hover {
    background-color: #f1f1f1;
  }
  