body {
    margin: 0;
    padding: 0;
}

.whole-page {
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    padding: 30px 30px;
    background-color: #ffffff;
    border-right: 1px solid #D9D9D9;
}

.sidebar-content {
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.b3slogo {
    width: 55px;
    height: 55px;
}

.brand-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2F2E2E;
}

.brand-title {
    font-family: Poppins; 
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
}

.sub-title {
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
}

.sidebar-dashboard {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px 0;
}

.sidebar-dashboard a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #2F2E2E;
    padding: 20px 30px;
}

.sidebar-dashboard a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-dashboard::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar-menu a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-menu a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-menu::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-dashboard i, .sidebar-menu i, .sidebar-learning i, .sidebar-account i {
    margin-right: 10px;
}

.sidebar-learning {
    display: flex;
    flex-direction: column;
}

.sidebar-learning a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-learning a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-learning::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-account {
    display: flex;
    flex-direction: column;
}

.sidebar a.active, .sidebar button.active {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.profile, .logout {
    border: none;
    background: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    margin-top: 20px;
    padding: 20px 30px;
}

.profile:hover, .logout:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: calc(100% - 300px);
    height: calc(100vh - 120px);
    margin-left: 300px;
    margin-top: 120px;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: calc(100% - 300px);
    padding: 40px 30px;
    background-color: #ffffff;
    justify-content: center;
    z-index: 1000;
}

h3 {
    font-family: Poppins;
    font-size: 22px;
    font-weight: bold;
    color: #2F2E2E;
}

h2 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: normal;
    color: #2F2E2E;
}

.page-content {
    padding: 30px 30px;
    background-color: #f5f5f5;
    height: 100%;
}

.stats {
    display: flex;
    flex-direction: row;
}

.appointment, .sales{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 100px;
    padding: 20px;
    background: linear-gradient(#102369 ,#18349C, #2045CF);
    color: #ffffff;
    border-radius: 10px;
    margin-right: 20px;
}

.appointment h2, .sales h2 {
    font-size: 14px;
    color: #ffffff;
}

.number-stats {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.number-stats h3 {
    font-size: 32px;
    color: #ffffff;
}

.appointment i, .sales i {
    font-size: 40px;
    border: none;
    background: none;
    margin-right: 10px;
    padding: 5px;
}

.page-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.dashboard-bttns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-right {
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid #142A74;
    color: #142A74;
    border-radius: 10px;
    background: none;
    padding: 20px 60px;
    margin: 10px;
}

.button-right:hover {
    text-decoration: none;
    background-color: #142A74;
    color: #ffffff;
}

.page-body {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.page-body h2 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    color: #585353;
}

.upcomming-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-height: 500px;
    overflow-y: auto;
}

.title-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cancelled-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 30px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-height: 500px;
    overflow-y: auto;
}

.view {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    color: #585353;
    border: none;
    background: none;
    text-decoration: underline;
}