body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.whole-page {
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    padding: 30px 30px;
    background-color: #ffffff;
    border-right: 1px solid #D9D9D9;
}

.sidebar-content {
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.b3slogo {
    width: 55px;
    height: 55px;
}

.brand-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2F2E2E;
}

.brand-title {
    font-family: Poppins; 
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
}

.sidebar-dashboard {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px 0;
}

.sidebar-dashboard a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #2F2E2E;
    padding: 20px 30px;
}

.sidebar-dashboard a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-dashboard::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar-menu a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-menu a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-menu::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-dashboard i, .sidebar-menu i, .sidebar-learning i, .sidebar-account i {
    margin-right: 10px;
}

.sidebar-learning {
    display: flex;
    flex-direction: column;
}

.sidebar-learning a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-learning a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-learning::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-account {
    display: flex;
    flex-direction: column;
}

.sidebar a.active, .sidebar button.active {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.profile, .logout {
    border: none;
    background: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    margin-top: 20px;
    padding: 20px 30px;
}

.profile:hover, .logout:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    background-color: #f5f5f5;
    width: calc(100% - 300px);
    margin-left: 300px;
}

.page-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100%;
    padding: 30px 30px;
    background-color: #f5f5f5;
    gap: 20px;
}

.button-container {
    display: flex;
    align-items: center;
}

.button-container h3 {
    font-size: 24px;
    font-weight: normal;
    color: #142A74;
    margin: 0;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox input + .checkbox-label {
    position: relative;
    padding-left: 30px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    color: #2F2E2E;
}

.custom-checkbox input + .checkbox-label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #2F2E2E;
    border-radius: 4px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.custom-checkbox input:checked + .checkbox-label::before {
    background-color: #142A74;
    border-color: #142A74;
}

.custom-checkbox input + .checkbox-label::after {
    content: '\2714';
    position: absolute;
    left: 4px;
    top: 0px;
    font-size: 14px;
    color: #ffffff;
    opacity: 0;
    transition: all 0.3s ease;
}

.custom-checkbox input:checked + .checkbox-label::after {
    opacity: 1;
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.container-wrapper-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #D9D9D9;
}

.container-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

h3 {
    color: #142A74;
    font-size: 20px;
    margin: 0;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    color: #142A74;
}

.question {
    display: flex;
    flex-direction: column;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
}

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-header p {
    font-size: 14px;
    font-weight: bold;
    color: #2F2E2E;
    margin: 0;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}

.options p {
    font-size: 14px;
    font-weight: normal;
    color: #2F2E2E;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

.publish-btn {
    font-size: 14px;
    color: #ffffff;
    background-color: #142A74;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.publish-btn:hover {
    background-color: #1B3286;
}

.btn-primary {
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
    background-color: #142A74;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
}

.btn-primary:hover {
    background-color: #142a74ec;
}

.btn-secondary {
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
    background-color: #B60505;
    border-radius: 30px;
    padding: 10px 30px;
}

.btn-secondary:hover {
    background-color: #b60505ec;
}

.close {
    font-size: 24px;
    color: #142A74;
}

@keyframes popOut {
    0% {
        opacity: 0;
        transform: scale(0.5); /* Starts smaller */
    }
    80% {
        transform: scale(1.05); /* Slight overshoot for a popping effect */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* Full size */
    }
}

.modal-content {
    animation: popOut 0.4s ease; /* Duration of the pop-out animation */
}

.modal-header, .modal-body, .input-body, .modal-footer {
    border: none;
}

.modal-header h5{
    color: #142A74;
    font-weight: bold;
}

.modal-dialog {
    top: 30%;
    left: 5%;
    border-radius: 20px;
}

.modal-content {
    border-radius: 20px;
    padding: 20px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

/* Custom scrollbar for WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px; /* Optional: Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
    background-color: #142A74; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Optional: Rounded corners for the thumb */
    border: 1px solid #f1f1f1; /* Optional: Adds padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0e1d4d; /* Darker color on hover */
}

.container-box::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

.container-box::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px; /* Optional: Rounded corners for the track */
}

.container-box::-webkit-scrollbar-thumb {
    background-color: #142A74; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Optional: Rounded corners for the thumb */
    border: 1px solid #f1f1f1; /* Optional: Adds padding around the thumb */
}

.container-box::-webkit-scrollbar-thumb:hover {
    background-color: #0e1d4d; /* Darker color on hover */
}