body {
    margin: 0;
    padding: 0;
}

.whole-page {
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    padding: 30px 30px;
    background-color: #ffffff;
    border-right: 1px solid #D9D9D9;
}

.sidebar-content {
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.b3slogo {
    width: 55px;
    height: 55px;
}

.brand-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2F2E2E;
}

.brand-title {
    font-family: Poppins; 
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
}

.sub-title {
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
}

.sidebar-dashboard {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px 0;
}

.sidebar-dashboard a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #2F2E2E;
    padding: 20px 30px;
}

.sidebar-dashboard a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-dashboard::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar-menu a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-menu a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-menu::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-dashboard i, .sidebar-menu i, .sidebar-learning i, .sidebar-account i {
    margin-right: 10px;
}

.sidebar-learning {
    display: flex;
    flex-direction: column;
}

.sidebar-learning a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-learning a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-learning::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-account {
    display: flex;
    flex-direction: column;
}

.sidebar a.active, .sidebar button.active {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.profile, .logout {
    border: none;
    background: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    margin-top: 20px;
    padding: 20px 30px;
}

.profile:hover, .logout:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: calc(100% - 300px);
    height: calc(100vh - 120px);
    margin-left: 300px;
    margin-top: 120px;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: calc(100% - 300px);
    padding: 40px 30px;
    background-color: #ffffff;
    justify-content: space-between;
    z-index: 1000;
}

h3 {
    font-family: Poppins;
    font-size: 22px;
    font-weight: bold;
    color: #2F2E2E;
}

h2 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: normal;
    color: #2F2E2E;
}

.search-container {
    display: flex;
    align-items: center;
    width: 30%;
    background-color: #F4F4F4;
    border-radius: 30px;
    margin-right: 100px;
    position: relative;
    padding-left: 10px;
    border: 1px solid #D9D9D9;
}

.search {
    background-color: #F4F4F4;
    color: #2F2E2E;
    outline: none;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 30px;
}

.search::placeholder {
    color: #8d8b8b;
}

.page-content {
    padding: 30px 30px;
    background-color: #f5f5f5;
    height: 100%;
}

/* CSS for section headers */
.course-header, .slots-header, .available-slots-header {
    background-color: #142a74;
    color: white; /* Ensures text is readable against the dark background */
    padding: 10px; /* Optional: Adds some padding to the header */
    border-radius: 10px; /* Optional: Rounds the corners of the header */
    text-align: center;
}

/* Ensures text color in the headers is white for better contrast */
.course-header h2, .slots-header h2, .available-slots-header h2 {
    color: white;
}

/* Add space between each container */
.course-section, .slots-section, .available-slots {
    margin-bottom: 30px; /* Adjust the space as needed */
}

/* Set width for available-slots section */
.available-slots {
    width: 100%; /* Full width of parent container */
    max-width: 1200px; /* Increased max-width for wider section */
    height: auto; /* Height adjusts based on content */
    margin: 0 auto; /* Center the section */
    margin-top: 50px;
}

/* Set width for course-section and slots-section */
.course-section, .slots-section {
    width: 100%; /* Full width of parent container */
    max-width: 400px; /* Adjust max-width to be narrower than available-slots */
    height: auto; /* Height adjusts based on content */
    margin: 0 auto; /* Center the section */
}

/* Set background color for section bodies */
.course-body, .slots-body, .available-slots-body {
    background-color: white;
    padding: 15px; /* Optional: Adds some padding inside the section */
    border-radius: 10px; /* Optional: Rounds the corners of the section body */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
}

/* Ensure the section bodies adjust based on the parent size */
.course-section, .slots-section, .available-slots {
    display: flex;
    flex-direction: column;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .course-section, .slots-section, .available-slots {
        width: 100%; /* Full width on smaller screens */
        height: auto; /* Height adjusts based on content */
    }
}
.date-container {
    position: relative;
    display: inline-block;
}

/* Style for the calendar icon */
.date-container i.bi-calendar {
    position: absolute;
    right: 15px; /* Adjust spacing from the right */
    top: 50%;
    transform: translateY(-50%);
    color: #142a74;
    font-size: 18px; /* Adjust size if needed */
    cursor: pointer;
    transition: color 0.3s; /* Smooth color transition */
}

.date-container i.bi-calendar:hover {
    color: #0e1d4d; /* Darker color on hover for better visibility */
}


.form-control {
    padding-right: 40px; /* Adjust to make room for the icon */
}

/* General button styles */
.btn-add, .btn-clear {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff; /* Text color */
    background-color: #142a74; /* Button background color */
    border: none; /* Remove default border */
    border-radius: 10px; /* Rounded corners */
    padding: 10px 20px; /* Adjust padding for size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions for hover effects */
    margin: 5px; /* Space between buttons */
}

/* Hover effect for buttons */
.btn-add:hover, .btn-clear:hover {
    background-color: #0e1d4d; /* Darker background color on hover */
    transform: translateY(-2px); /* Slight lift effect on hover */
}

/* Focus effect for buttons */
.btn-add:focus, .btn-clear:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Subtle shadow on focus */
}
/* General styles for action buttons */
.btn-edit, .btn-delete {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff; /* Text color */
    background-color: #142a74; /* Button background color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    padding: 5px 10px; /* Adjust padding for size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions for hover effects */
    margin-right: 5px; /* Space between buttons */
}

/* Hover effect for edit and delete buttons */
.btn-edit:hover, .btn-delete:hover {
    background-color: #0e1d4d; /* Darker background color on hover */
    transform: translateY(-2px); /* Slight lift effect on hover */
}

/* Focus effect for edit and delete buttons */
.btn-edit:focus, .btn-delete:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Subtle shadow on focus */
}

/* Specific styles for delete button */
.btn-delete {
    background-color: #e74c3c; /* Red color for delete button */
}

.btn-delete:hover {
    background-color: #c0392b; /* Darker red on hover */
}
