body {
    margin: 0;
    padding: 0;
}

.whole-page {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    padding: 30px 30px;
    background-color: #ffffff;
    border-right: 1px solid #D9D9D9;
}

.sidebar-content {
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.b3slogo {
    width: 55px;
    height: 55px;
}

.brand-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2F2E2E;
}

.brand-title {
    font-family: Poppins; 
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
}

.sidebar-dashboard {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px 0;
}

.sidebar-dashboard a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #2F2E2E;
    padding: 20px 30px;
}

.sidebar-dashboard a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-dashboard::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar-menu a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-menu a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-menu::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-dashboard i, .sidebar-menu i, .sidebar-learning i, .sidebar-account i {
    margin-right: 10px;
}

.sidebar-learning {
    display: flex;
    flex-direction: column;
}

.sidebar-learning a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-learning a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-learning::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-account {
    display: flex;
    flex-direction: column;
}

.sidebar a.active, .sidebar button.active {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.profile, .logout {
    border: none;
    background: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    margin-top: 20px;
    padding: 20px 30px;
}

.profile:hover, .logout:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: calc(100% - 300px);
    height: calc(100vh - 120px);
    margin-left: 300px;
    margin-top: 120px;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: calc(100% - 300px);
    padding: 40px 30px;
    background-color: #ffffff;
    justify-content: center;
    z-index: 1000;
}

h3 {
    font-family: Poppins;
    font-size: 22px;
    font-weight: bold;
    color: #2F2E2E;
}

h2 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: normal;
    color: #2F2E2E;
}


.page-content {
    flex: 1;
    padding: 30px 30px;
    background-color: #f5f5f5;
    min-height: auto;
}

.upper-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.course-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}

.course-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.course-body label {
    font-family: Poppins;
    font-size: 18px;
    color: #2F2E2E;
    margin-left: 10px;
    margin-bottom: 10px;
}

.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom-radio input + .radio-label {
    position: relative;
    margin-left: 20px;
    padding-left: 30px;
    font-family: Poppins;
    font-size: 18px;
    color: #2F2E2E;
    cursor: pointer;
}

.custom-radio input + .radio-label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid #2F2E2E;
    border-radius: 50%;
    background-color: #fff;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.custom-radio input:checked + .radio-label::before {
    background-color: #142A74;
    border-color: #142A74;
}

.custom-radio input + .radio-label::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0;
    transition: all 0.3s ease;
}

.custom-radio input:checked + .radio-label::after {
    opacity: 1;
}

.slots-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}

.slots-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
}

.slots-body label {
    font-weight: bold;
}

.slots-body input {
    font-family: Poppins;
    font-size: 14px;
    padding: 10px;
}

.lower-container {
    margin-top: 50px;
}

.available-slots {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
}

/* CSS for section headers */
.course-header, .slots-header, .available-slots-header {
    background-color: #142a74;
    color: white; /* Ensures text is readable against the dark background */
    padding: 10px; /* Optional: Adds some padding to the header */
    border-top-left-radius: 10px; /* Optional: Rounds the corners of the header */
    border-top-right-radius: 10px; 
    text-align: center;
}

/* Ensures text color in the headers is white for better contrast */
.course-header h2, .slots-header h2, .available-slots-header h2 {
    color: white;
}

/* Set background color for section bodies */
.course-body, .slots-body, .available-slots-body {
    background-color: white;
    padding: 15px; /* Optional: Adds some padding inside the section */
    border-bottom-left-radius: 10px; /* Optional: Rounds the corners of the section body */
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
}

.table td {
    vertical-align: middle;;
}

/* Center the text in the "Action" header */
.table th:last-child {
    text-align: center;
}

/* Center the content (buttons) in the "Action" column cells */
.table td:last-child {
    text-align: center;
}

/* Style the action buttons to ensure they are properly centered */
.table td:last-child .btn-edit,
.table td:last-child .btn-delete {
    display: inline-block;
    margin: 0 5px; /* Optional: Space between the buttons */
    text-align: center;
}

.table th:nth-child(5) {
    text-align: center;
}

/* Center the content in the "Slots" column */
.table td:nth-child(5) {
    text-align: center;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .course-section, .slots-section, .available-slots {
        width: 100%; /* Full width on smaller screens */
        height: auto; /* Height adjusts based on content */
    }
}
.date-container {
    position: relative;
    display: inline-block;
}

/* Style for the calendar icon */
.date-container i.bi-calendar {
    position: absolute;
    right: 15px; /* Adjust spacing from the right */
    top: 50%;
    transform: translateY(-50%);
    color: #142a74;
    font-size: 18px; /* Adjust size if needed */
    cursor: pointer;
    transition: color 0.3s; /* Smooth color transition */
}

.date-container i.bi-calendar:hover {
    color: #0e1d4d; /* Darker color on hover for better visibility */
}


.form-control {
    padding-right: 40px; /* Adjust to make room for the icon */
}

/* General button styles */
.btn-add, .btn-clear  {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff; /* Text color */
    background-color: #142a74; /* Button background color */
    border: none; /* Remove default border */
    border-radius: 10px; /* Rounded corners */
    padding: 10px 20px; /* Adjust padding for size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions for hover effects */
    margin: 5px; /* Space between buttons */
}

/* Hover effect for buttons */
.btn-add:hover, .btn-clear:hover {
    background-color: #0e1d4d; /* Darker background color on hover */
    transform: translateY(-2px); /* Slight lift effect on hover */
}

/* Focus effect for buttons */
.btn-add:focus, .btn-clear:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Subtle shadow on focus */
}
/* General styles for action buttons */
.btn-edit, .btn-delete {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff; /* Text color */
    background-color: #142a74; /* Button background color */    
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    padding: 5px 10px; /* Adjust padding for size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions for hover effects */
    margin-right: 5px; /* Space between buttons */
}

/* Hover effect for edit and delete buttons */
.btn-edit:hover, .btn-delete:hover {
    background-color: #0e1d4d; /* Darker background color on hover */
    transform: translateY(-2px); /* Slight lift effect on hover */
    color: #ffffff;
}

/* Focus effect for edit and delete buttons */
.btn-edit:focus, .btn-delete:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Subtle shadow on focus */
}

/* Specific styles for delete button */
.btn-delete {
    background-color: #e74c3c; /* Red color for delete button */
}

.btn-delete:hover {
    background-color: #c0392b; /* Darker red on hover */
}
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
:root {
  --primary-color: #142a74;
  --text-color: #1d1d1d;
  --bg-color: #f1f1fb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #ffffff;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar {
  width: 100%;
  max-width: 600px;
  background: var(--bg-color);
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
}
.calendar .header-cal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
}
.calendar .header-cal .month {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--text-color);
}
.calendar .header-cal .btns {
  display: flex;
  gap: 10px;
}
.calendar .header-cal .btns .btn {
  width: 50px;
  height: 40px;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}
.calendar .header-cal .btns .btn:hover {
  background: #142a74;
  transform: scale(1.05);
}
.calendar .weekdays {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.calendar .weekdays .day {
  width: calc(100% / 7 - 10px);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.calendar .days {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.calendar .days .day {
  width: calc(100% / 7 - 10px);
  height: 50px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  transition: all 0.3s;
  user-select: none;
}
.calendar .days .day:not(.next):not(.prev):hover {
  color: #fff;
  background: var(--primary-color);
  transform: scale(1.05);
}
.calendar .days .day.next,
.calendar .days .day.prev {
  color: #ccc;
}
.calendar .days .day.today {
  color: #fff;
  background: var(--primary-color);
}
.calendar-container {
    width: 100%;
    max-width: 600px;
    background: var(--bg-color);
    padding: 30px 20px;
    border-radius: 10px;
}

.calendar-legend {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}

.legend-item {
    display: flex;
    align-items: center;
}

.legend-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.available {
    background-color: #28a745; /* Green color for available */
}

.full {
    background-color: #e74c3c; /* Red color for full */
}

.legend-item span {
    font-size: 16px;
    color: var(--text-color);
}

.modal-header, .modal-body, .input-body, .modal-footer {
    border: none;
}

.modal-header h4{
    font-family: Poppins;
    font-weight: bold;
}

.modal-dialog {
    top: 30%;
    left: 5%;
    border-radius: 20px;
}

.modal-content {
    font-family: Poppins;
    border-radius: 20px;
    padding: 20px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.input-body {
    display: flex;
    flex-direction: column;
}

.input-body input {
    font-family: Poppins;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    margin-top: 10px;
}

/* Confirm delete button */
.btn-danger {
    background-color: #B60505; 
    color: white; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn-danger:hover {
    background-color: #b60505ec; 
}

.btn-warning {
    background-color: #142A74; 
    color: white; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

/* Cancel button */
.btn-secondary {
    background-color: #142A74; 
    color: white; 
    border: none;   
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #142a74ec; 
}

.btn-primary {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #142A74;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #142a74ec; 
}

/* Close button */
.close {
    color: #B60505;
    font-size: 1.5rem;
    opacity: 1;
    border: none;
}

.close:hover {
    color: #b60505ec;
}

#btn-update{
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff; /* Text color */
    background-color: #142a74; /* Button background color */
    border: none; /* Remove default border */
    border-radius: 10px; /* Rounded corners */
    padding: 10px 20px; /* Adjust padding for size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions for hover effects */
    margin: 5px; /* Space between buttons */
}

/* Hover effect for buttons */
#btn-update:hover {
    background-color: #0e1d4d; /* Darker background color on hover */
    transform: translateY(-2px); /* Slight lift effect on hover */
}

/* Focus effect for buttons */
#btn-update:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Subtle shadow on focus */
}

/* Cancel Button */
.btn-cancel {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #1B3286; 
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-cancel:hover {
    background-color: #142A74; 
}

/* Logout Button */
.btn-logout {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #B60505;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-logout:hover {
    background-color: #c9302c; 
}

/* Adjust font size for the available slots section */
.available-slots {
    font-size: 20px; /* Adjust this value as needed */
}

/* Adjust font size for headers in the available slots section */
.available-slots-header h2 {
    font-size: 22px; /* Adjust this value as needed */
}

/* Adjust font size for content in the available slots section */
.available-slots-body {
    font-size: 18px; /* Adjust this value as needed */
    background-color: white;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto; /* Enables vertical scrolling if content exceeds max-height */
}

