body {
    margin: 0;
    padding: 0;
}

.whole-page {
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    padding: 30px 30px;
    background-color: #ffffff;
    border-right: 1px solid #D9D9D9;
}

.sidebar-content {
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.b3slogo {
    width: 55px;
    height: 55px;
}

.brand-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2F2E2E;
}

.brand-title {
    font-family: Poppins; 
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
}

.sidebar-dashboard {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px 0;
}

.sidebar-dashboard a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #2F2E2E;
    padding: 20px 30px;
}

.sidebar-dashboard a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-dashboard::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar-menu a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-menu a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-menu::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-dashboard i, .sidebar-menu i, .sidebar-learning i, .sidebar-account i {
    margin-right: 10px;
}

.sidebar-learning {
    display: flex;
    flex-direction: column;
}

.sidebar-learning a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-learning a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-learning::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-account {
    display: flex;
    flex-direction: column;
}

.sidebar a.active, .sidebar button.active {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.profile, .logout {
    border: none;
    background: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    margin-top: 20px;
    padding: 20px 30px;
}

.profile:hover, .logout:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: calc(100% - 300px);
    height: calc(100vh - 120px);
    margin-left: 300px;
    margin-top: 120px;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: calc(100% - 300px);
    padding: 40px 30px;
    background-color: #ffffff;
    justify-content: center;
    z-index: 1000;
}

h3 {
    font-family: Poppins;
    font-size: 22px;
    font-weight: bold;
    color: #2F2E2E;
}

h2 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: normal;
    color: #2F2E2E;
}

.page-content {
    padding: 30px 30px;
    background-color: #f5f5f5;
    height: 100%;
}

.module-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.module-container {
    flex: 0 1 calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.module-container:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.button {
    display: flex;
    flex-direction: row;
}

.upload-module {
    background-color: #1B3286;
    color: #ffffff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

.upload-module:hover {
    background-color: #142A74;
}

.module-container {
    flex: 0 1 calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.module-preview {
    background-color: #142A74;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #D9D9D9;
    position: relative;
    height: 150px;
    width: 100%;
    overflow: hidden;
}

.module-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.module-preview i {
    font-size: 64px;
    color: #D9D9D9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.module-details {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    color: #2F2E2E;
}

.module-options {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.bi-three-dots-vertical {
    background: none;
    border: none;
    font-size: 20px;
    color: #2F2E2E;
    cursor: pointer;
}

.triple-dot-options {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    z-index: 1;
    min-width: 120px;
}

.triple-dot-options i {
    font-family: Poppins;
    font-size: 14px;
    color: #2F2E2E;
    cursor: pointer;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.triple-dot-options i:hover {
    background-color: #142A74;
    color: #ffffff;
    border-radius: 10px;
}

.update-module {
    background-color: #142A74;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.update-module:hover {
    background-color: #1B3286;
}

.close-edit-modal {
    background-color: #7B1719;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.close-edit-modal:hover {
    background-color: #c9302c;
}

.confirm-delete {
    background-color: #7B1719; 
    color: white; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: Poppins;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.confirm-delete:hover {
    background-color: #c9302c; 
}

/* Style for the cancel-delete-modal button */
.cancel-delete-modal {
    background-color: #1B3286; 
    color: white; 
    border: none;   
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: Poppins;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.cancel-delete-modal:hover {
    background-color: #142A74; 
}

.btn-primary {
    background-color: #1B3286;
    color: #ffffff;
    font-family: Poppins;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

@keyframes popOut {
    0% {
        opacity: 0;
        transform: scale(0.5); /* Starts smaller */
    }
    80% {
        transform: scale(1.05); /* Slight overshoot for a popping effect */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* Full size */
    }
}

.modal-content {
    animation: popOut 0.4s ease; /* Duration of the pop-out animation */
}

.modal-header, .modal-body, .input-body, .modal-footer {
    border: none;
}

.modal-header h4{
    font-family: Poppins;
    font-weight: bold;
    color: #142A74;
}

.modal-dialog {
    top: 30%;
    left: 5%;
    border-radius: 20px;
}

.modal-content {
    font-family: Poppins;
    border-radius: 20px;
    padding: 20px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.image-preview {
    background-color: #F5F5F5;
    border: 2px dashed #D9D9D9;
    border-radius: 10px;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: none; /* Hide image by default */
}

.image-preview i {
    display: none;
}

.image-preview i.default-icon {
    font-size: 64px;
    color: #D9D9D9;
}

.image-preview img.loaded {
    display: block; /* Show the image only when it's loaded */
}

#moduleModal .modal-dialog {
    top: 25%;
    left: 5%;
    border-radius: 20px;
}

#editModuleModal .modal-dialog {
    top: 25%;
    left: 5%;
    border-radius: 20px;
}

.preview {
    background-color: #F5F5F5;
    border: 2px dashed #D9D9D9;
    border-radius: 10px;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: none; /* Hide image by default */
}

.preview i {
    display: none;
}

.preview i.default-icon {
    font-size: 64px;
    color: #D9D9D9;
}

.preview img.loaded {
    display: block; /* Show the image only when it's loaded */
}

.save-module {
    background-color: #1B3286;
    color: #ffffff;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
}

.save-module:hover {
    background-color: #142A74;
}

.close-modal {
    background-color: #7B1719;
    color: #ffffff;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
}

.close-modal:hover {
    background-color: #c9302c;
}

.input-body {
    display: flex;
    flex-direction: column;
}

.input-body input {
    font-family: Poppins;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    margin-top: 10px;
}

/* Cancel Button */
.btn-cancel {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #1B3286; 
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-cancel:hover {
    background-color: #142A74; 
}

/* Logout Button */
.btn-logout {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #B60505;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-logout:hover {
    background-color: #c9302c; 
}

/* Wrapper for file input */
.file-input-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.custom-file-upload {
    background-color: #1B3286;
    color: #ffffff;
    font-size: 14px;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 35%;
}

.custom-file-upload:hover {
    background-color: #142A74;
}

.custom-file-upload i {
    margin-right: 10px;
    font-size: 16px;
}

.module-file, .edit-module-image, .edit-module-file {
    display: none;
}

.file-name {
    font-family: Poppins;
    font-size: 14px;
    color: #2F2E2E;
    margin-left: 15px;
    font-style: italic;
}
