body {
    font-family: Poppins;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(#E4EfE9 ,#93A5CF, #6594d3);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: none;
    padding: 5px 30px 5px 30px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.navbar-left:hover {
    text-decoration: none;
}

.b3slogo {
    width: 55px;
    height: 55px;
}

.brand-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2F2E2E;
}

.brand-title {
    font-family: Poppins; 
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
}

.navbar-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 50px;
}

.navbar-nav a {
    margin: 10px;
    padding: 10px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #2F2E2E;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    max-width: 700px;
    width: 100%;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.step .bullet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #EAEAEA;
    border-radius: 50%;
    font-weight: bold;
    color: #2F2E2E;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

.step.active .bullet {
    background-color: #142A74;
    color: white;
}

.step.completed .bullet {
    background-color: #142A74;
    color: white;
}

.step.completed .bullet:before {
    content: "✔";
    position: absolute;
    font-size: 12px;
}

.title {
    font-weight: 500;
}

.step .title {
    font-size: 12px;
    color: #2F2E2E;
    text-align: center;
    width: 100%;
}

.step.active .title {
    color: #142A74;
}

.line {
    height: 2px;
    background-color: #777;
    width: 100%;
}

.line.completed {
    background-color: #142A74;
}

/* Responsive adjustments */
@media (max-width: 991.98px) {
    .navbar-nav-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar-collapse {
        display: flex;
        flex-direction: column;
    }
}
p {
    font-size: 16px;
}

.input-group-text, .btn-outline-secondary {
    cursor: pointer;
}

.login-logo {
    width: 50%;
    height: auto;
}

/* Main container styles */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

/* Card styles */
.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 2rem;
    max-width: 700px;
    width: 100%;
}

/* Updated button styles */
.save-btn {
    background-color: #142A74;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.save-btn:hover {
    background-color: #0d1d51 !important;
    color: white !important;
}

/* Center the button container */
.d-flex-center {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically (if needed) */
    width: 100%;
    margin-top: 2rem;        /* Adjust margin as needed */
}

/* Logo image styles */
.login-logo {
    display: block;
    margin: 0 auto;
    width: 200px; /* Adjust as needed */
}

/* Form styles */
.login-form {
    margin-top: 1rem;
    text-align: left;
}

span {
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
}

.form-label {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

/* Input styles */
.form-control {
    border-radius: 8px;
    border: 1px solid #ced4da;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
}

.input-group-text {
    border-radius: 8px 0 0 8px;
    background: #f8f9fa;
    border: 1px solid #ced4da;
}

.input-group {
    margin-top: 0.5rem;
}

/* Password toggle button styles */
.btn-outline-primary .toggle-password-icon {
    color: #142a74;
}

.btn-outline-secondary {
    border-radius: 0 8px 8px 0;
}

.btn-outline-secondary i {
    font-size: 1.5rem;
}

.login-btn {
    font-family: Poppins;
    font-weight: bold;
    background-color: #142A74;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #0d1d51 !important;
    color: white !important;
}

/* Link styles */
.text-dark {
    text-decoration: underline;
}

form p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    margin-top: 1rem;
}

.verification-code-input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Custom Radio Button Styles */
.form-check-input {
    border: 2px solid #142a74;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    appearance: none;
}

.form-check-input:checked {
    background-color: #142a74;
    border-color: #142a74;
}

/* Password toggle button styles */
#togglePassword, #toggleNewPassword, #toggleConfirmPassword  {
    border-radius: 0 8px 8px 0;
    border: 1px solid #ced4da;
    background-color: #f8f9fa;
    transition: box-shadow 0.3s ease, background-color 0.3s ease; /* Smooth transition */
}

#togglePassword:hover, #toggleNewPassword:hover, #toggleConfirmPassword:hover {
    background-color: #142a74; /* Background color on hover */
}

#togglePassword:hover, #toggleNewPassword:hover, #toggleConfirmPassword:hover i {
    color: #fff; /* Icon color on hover */
}

/* Back Icon Styles */
.back-icon {
    position: absolute;
    top: -20px; /* Move upwards by adjusting this value */
    left: 10px;
    z-index: 10;
}

.back-icon a {
    font-size: 24px;
    color: #142a74;
    text-decoration: none;
}

.back-icon a:hover {
    color: #0d1d51;
}

/* Ensure the form is positioned relative to contain the back icon */
.login-form {
    position: relative;
}

.return-icon {
    position: absolute;
    top: 20px; /* Adjust this value as needed */
    left: 20px;
    z-index: 10;
}

.return-icon a {
    font-size: 24px;
    color: #142a74;
    text-decoration: none;
}

.return-icon a:hover {
    color: #0d1d51;
}

/* Ensure the card body is positioned relative to contain the return icon */
.card-body {
    position: relative;
}

/* Error message styles */
h5 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    color: #dc3545;
}

#modalMessage, #notificationMessage {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
}

/* Ensure error messages are styled clearly */
#error-message {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    color: #dc3545; /* Red color for errors */
    margin-top: 1rem;
}

@keyframes popOut {
    0% {
        opacity: 0;
        transform: scale(0.5); /* Starts smaller */
    }
    80% {
        transform: scale(1.05); /* Slight overshoot for a popping effect */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* Full size */
    }
}

.modal-content {
    animation: popOut 0.4s ease; /* Duration of the pop-out animation */
}

.modal-header, .modal-body, .modal-footer {
    border: none;
}

.modal-dialog {
    top: 30%;
    border-radius: 20px;
}

.modal-content {
    justify-content: space-evenly;
    font-family: Poppins;
    border-radius: 20px;
    padding: 20px;
}

.modal-title {
    font-weight: bold;
    color: #142A74;
}

.modal-body {
    font-size: 14px;
}

/* Style for successful messages */
.success-message {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    color: #28a745; /* Green color for success */
    margin-top: 1rem;
}


.btn-secondary {
    background-color: #142A74;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}

.btn-secondary:hover {
    background-color: #0d1d51 !important;
    color: white !important;
}

/* Password strength meter styles */
.requirement {
    display: flex;
    align-items: center;
}
.requirement i {
    margin-right: 10px;
}
.requirement p {
    font-family: Poppins;
    font-size: 12px;
}
.requirement.valid i {
    color: green;
}
.requirement.invalid i {
    color: red;
}
.disabled-link {
    pointer-events: none; /* Prevents clicks */
    color: #ccc; /* Grey out text */
    text-decoration: none; /* Remove underline */
}

#passwordRequirements {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.loader1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.loader1 .car-loader {
    width: 80px;
    height: 80px;
    border: 4px solid #ccc;
    border-radius: 50%;
    border-top: 4px solid #142A74;
    animation: spin 2s linear infinite;
    position: relative;
}

.loader1 p {
    margin-top: 20px;
    font-size: 18px;
    color: #142A74;
    position: relative;
}

.dots {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

.dots::after {
    content: '';
    display: inline-block;
    animation: dot-flashing 1.5s infinite linear;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes dot-flashing {
    0% {
        content: '.';
    }
    25% {
        content: '..';
    }
    50% {
        content: '...';
    }
    75% {
        content: '..';
    }
    100% {
        content: '.';
    }
}