body {
    margin: 0;
    padding: 0;
}

.whole-page {
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    padding: 30px 30px;
    background-color: #ffffff;
    border-right: 1px solid #D9D9D9;
}

.sidebar-content {
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.b3slogo {
    width: 55px;
    height: 55px;
}

.brand-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2F2E2E;
}

.brand-title {
    font-family: Poppins; 
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
}

.sidebar-dashboard {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px 0;
}

.sidebar-dashboard a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-dashboard a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-dashboard::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar-menu a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-menu a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-menu::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-dashboard i, .sidebar-menu i, .sidebar-account i {
    margin-right: 10px;
}

.sidebar-account {
    display: flex;
    flex-direction: column;
}

.sidebar a.active, .sidebar button.active {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.profile, .logout {
    border: none;
    background: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    margin-top: 20px;
    padding: 20px 30px;
}

.profile:hover, .logout:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: calc(100% - 300px);
    height: calc(100vh - 120px);
    margin-left: 300px;
    margin-top: 120px;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: calc(100% - 300px);
    padding: 40px 30px;
    background-color: #ffffff;
    justify-content: center;
    z-index: 1000;
}

h3 {
    font-family: Poppins;
    font-size: 22px;
    font-weight: bold;
    color: #142A74;
}

h2 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: normal;
    color: #2F2E2E;
}

.page-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    background-color: #f5f5f5;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.video-container h3 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    color: #142A74;
    margin-bottom: 20px;
}

.video-container video {
    width: 100%;
    height: 85%;
}

#toggle-button {
    position: absolute;
    top: 10%;
    left: -44px;
    font-size: 24px;
    color: #142A74;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.lesson-list {
    top: 5%;
    right: -300px;
    width: 300px;
    height: 90%;
    max-height: 800px;
    background-color: #ffffff;
    color: #142A74;
    padding: 20px 0px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    position: absolute;
    transition: right 0.7s ease-in-out;
    z-index: 1;
}

.lesson-list.show {
    right: 0;
}

.lessons, .exams {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 600;
    color: #142A74;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 100%;
}

.lessons ul, .exams ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.lessons li, .exams li {
    display: block;
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    color: #142A74;
    border-radius: 8px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 10px;
}

.lessons li:hover, .exams li:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.lessons li a, .exams li a {
    text-decoration: none;
    color: #142A74;
    font-weight: 600;
    display: block;
}

.lessons li a:hover, .exams li a:hover {
    color: #142A74;
}

.locked {
    font-size: 14px;
    opacity: 0.6;
    pointer-events: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.locked a {
    display: flex;
    flex-direction: row;
    cursor: not-allowed;
}

.locked i {
    font-size: 18px;
    color: #142A74;
}

.lessons::-webkit-scrollbar {
    width: 8px;
}

.lessons::-webkit-scrollbar-thumb {
    background-color: #babbbd;
    border-radius: 10px;
}

.lessons::-webkit-scrollbar-thumb:hover {
    background-color: #2F2E2E;
}

.chat-content {
    top: 94%;
    right: 100px;
    width: 350px;
    height: 55%;
    max-height: 800px;
    background-color: #ffffff;
    color: #142A74;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    position: absolute;
    transition: top 0.7s ease-in-out;
}

.chat-content.show {
    top: 45%;
}

.chat-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #334992;
    border-radius: 10px 10px 0px 0px;
}

.chat-header h3 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
}

.chat-header i {
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

.chat-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    padding: 20px;
    gap: 10px;
    overflow-y: auto;
}

.chat-body::-webkit-scrollbar {
    width: 8px;
}

.chat-body::-webkit-scrollbar-thumb {
    background-color: #babbbd;
    border-radius: 10px;
}

.chat-body::-webkit-scrollbar-thumb:hover {
    background-color: #2F2E2E;
}

.chat-body-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.chat-body-message img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #dfe4ea;
}

.chat-body-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.chat-body-message.user-message {
    justify-content: flex-end;
}

.chat-body-message-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    max-width: 75%;
}

.chat-body-message.user-message .chat-body-message-content {
    background-color: #e0f7fa;
    margin-left: 10px;
}

.chat-body-message img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #dfe4ea;
}

.chat-body-message-content p {
    font-family: Poppins;
    font-size: 12px;
    color: #142A74;
    margin: 0;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.message-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.message-container input {
    background-color: #f5f5f5;
    color: #142A74;
    outline: none;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 12px;
}

.send {
    font-size: 14px;
    cursor: pointer;
    border: none;
    background: none;
    color: #334992;
}

@keyframes popOut {
    0% {
        opacity: 0;
        transform: scale(0.5); /* Starts smaller */
    }
    80% {
        transform: scale(1.05); /* Slight overshoot for a popping effect */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* Full size */
    }
}

.modal-content {
    animation: popOut 0.4s ease; /* Duration of the pop-out animation */
}

.modal-header, .modal-body, .modal-footer {
    border: none;
}

.modal-dialog {
    top: 30%;
    left: 5%;
    border-radius: 20px;
}

.modal-content {
    justify-content: space-evenly;
    font-family: Poppins;
    border-radius: 20px;
    padding: 20px;
}

.modal-title {
    font-weight: bold;
    color: #142A74;
}

.modal-body {
    font-size: 14px;
}

.close {
    font-size: 24px;
    color: #142A74;
}

.btn-primary {
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
    background-color: #142A74;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
}

.btn-primary:hover {
    background-color: #142a74ec;
}

.btn-secondary {
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
    background-color: #B60505;
    border-radius: 30px;
    padding: 10px 30px;
}

.btn-secondary:hover {
    background-color: #b60505ec;
}