body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.whole-page {
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    padding: 30px 30px;
    background-color: #ffffff;
    border-right: 1px solid #D9D9D9;
}

.sidebar-content {
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.b3slogo {
    width: 55px;
    height: 55px;
}

.brand-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2F2E2E;
}

.brand-title {
    font-family: Poppins; 
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
}

.sidebar-dashboard {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px 0;
}

.sidebar-dashboard a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-dashboard a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-dashboard::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar-menu a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-menu a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-menu::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-dashboard i, .sidebar-menu i, .sidebar-account i {
    margin-right: 10px;
}

.sidebar-account {
    display: flex;
    flex-direction: column;
}

.sidebar a.active, .sidebar button.active {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.profile, .logout {
    border: none;
    background: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    margin-top: 20px;
    padding: 20px 30px;
}

.profile:hover, .logout:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: calc(100% - 300px);
    height: calc(100vh - 120px);
    margin-left: 300px;
    margin-top: 120px;
}

.main-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #ffffff;
    border-bottom: 1px solid #D9D9D9;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: calc(100% - 300px);
    padding: 40px 30px;
    background-color: #ffffff;
    justify-content: center;
    z-index: 1000;
}

.title {
    margin-left: auto;
}

h3 {
    font-family: Poppins;
    font-size: 22px;
    font-weight: bold;
    color: #2F2E2E;
}

h2 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: normal;
    color: #2F2E2E;
}

.page-content {
    padding: 30px 30px;
    background-color: #f5f5f5;
    height: 100%;
}

.personality-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #142A74;;
    border-radius: 20px;
    height: 100%;
}

.container-header {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #142A74, #8597D4);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 180px;
}

.profile-pic {
    min-width: 300px;
    min-height: 300px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    background-color: #dfe4ea; 
}

.container-body {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100%;
}

.top-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
}

.name {
    font-family: Poppins;
    font-size: 28px;
    font-weight: normal;
    color: #2F2E2E;
}

.message {
    font-family: Poppins;
    font-size: 32px;
    font-weight: bold;
    color: green;
}

.bottom-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 30px;
}

.left-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-right: 10px;
    border-right: 1px solid #D9D9D9;
}

.left-info-header span, .right-info-header span {
    font-size: 24px;
    font-weight: bold;
    color: #142A74;
}

.rating-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ratings {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rating {
    font-size: 48px;
    font-weight: bold;
    color: #142A74;
}

.stars {
    color: #FFD700;
    font-size: 24px;
    margin-left: 10px;
}

.total {
    font-size: 14px;
    font-weight: normal;
    color: #2F2E2E;
}

.rating-bars {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}

.rating-bar {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #2F2E2E;
}

.rating-bar span:first-child {
    width: 20px;
    display: flex;
    flex-direction: row;
}

.rating-bar i {
    color: #FFD700;
    font-size: 14px;
    margin-left: 5px;
}

.rating-bar:last-child {
    display: flex;
    flex-direction: row;
    margin-left: 3px;
}

.rating-bar .bar {
    height: 12px;
    border-radius: 10px;
    margin: 0 10px;
    transition: width 0.3s ease;
    background-color: #142A74;
    margin-left: 15px;
}

.feedback {
    margin-left: auto;
}

.feedback-btn {
    font-size: 12px;
    color: #ffffff;
    background-color: #142A74;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

.right-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 50px;
}

.about-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about-container span {
    font-size: 18px;
    font-weight: normal;
    color: #2F2E2E;
}

.bi-check-circle {
    color: green;
    font-size: 18px;
    margin-right: 10px;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    display: none;
}

.close-btn {
    display: flex;
}

.bi-x-lg {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 26px;
    color: #142A74;
    background: none;
    border: none;
    cursor: pointer;
}

.feedback-form h3 {
    font-size: 24px;
    font-weight: bold;
    color: #142A74;
    text-align: center;
}

.feedback-form span {
    font-size: 14px;
    font-weight: 500;
    color: #2F2E2E;
    text-align: center;
    display: block;
    width: 100%;
}

.stars-rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.stars-rating i {
    font-size: 40px;
    color: #FFD700;
    margin: 0 10px;
    cursor: pointer;
}

.form-group label {
    font-size: 14px;
    font-weight: 500;
    color: #2F2E2E;
}

.input-group textarea {
    font-size: 14px;
    color: #2F2E2E;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
}

.submit-button {
    display: flex;
    justify-content: center;
}

.feedback-submit-btn {
    font-size: 12px;
    color: #ffffff;
    background-color: #142A74;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

.modal-header, .modal-body, .modal-footer {
    border: none;
}

.modal-dialog {
    top: 30%;
    left: 5%;
    border-radius: 20px;
}

.modal-content {
    justify-content: space-evenly;
    font-family: Poppins;
    border-radius: 20px;
    padding: 20px;
}

.modal-title {
    font-weight: bold;
    color: #142A74;
}

.modal-body {
    font-size: 14px;
}

.close {
    font-size: 24px;
    color: #142A74;
}

.btn-primary {
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
    background-color: #142A74;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
}

.btn-primary:hover {
    background-color: #142a74ec;
}

.btn-secondary {
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
    background-color: #B60505;
    border-radius: 30px;
    padding: 10px 30px;
}

.btn-secondary:hover {
    background-color: #b60505ec;
}