body {
    margin: 0;
    padding: 0;
}

.whole-page {
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    padding: 30px 30px;
    background-color: #ffffff;
    border-right: 1px solid #D9D9D9;
}

.sidebar-content {
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.b3slogo {
    width: 55px;
    height: 55px;
}

.brand-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2F2E2E;
}

.brand-title {
    font-family: Poppins; 
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
}

.sidebar-dashboard {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px 0;
}

.sidebar-dashboard a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-dashboard a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-dashboard::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar-menu a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-menu a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-menu::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-dashboard i, .sidebar-menu i, .sidebar-account i {
    margin-right: 10px;
}

.sidebar-account {
    display: flex;
    flex-direction: column;
}

.sidebar a.active, .sidebar button.active {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.profile, .logout {
    border: none;
    background: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    margin-top: 20px;
    padding: 20px 30px;
}

.profile:hover, .logout:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    width: calc(100% - 300px);
    margin-left: 300px;
}

h3 {
    font-family: Poppins;
    font-size: 22px;
    font-weight: bold;
    color: #2F2E2E;
}

h2 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: normal;
    color: #2F2E2E;
}

.page-content {
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    background-color: #f5f5f5;
    height: 100%;
    gap: 20px;
}

.notice {
    display: none;
    padding: 20px;
    position: fixed;
    z-index: 1000;
    top: 0;
    animation: dropDown 0.5s ease forwards;
}

.notice.show {
    display: block;
}

.notice-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.notice-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.notice-header h5 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    color: #B60505;
    margin: 0;
}

.notice-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notice-text h1 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: bold;
    color: #142A74;
    margin: 0;
}

.notice-text p {
    font-family: Poppins;
    font-size: 14px;
    color: #2F2E2E;
    margin: 0;
}

@keyframes dropDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.notification-bell-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#notification-bell {
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.notification-list {
    position: absolute;
    top: 70px;
    right: 30px;
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    padding: 10px;
    overflow-y: auto;
    font-family: Poppins;
    font-size: 14px;
    max-height: 350px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.notification-title h2 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    color: #142A74;
    padding-top: 10px;
    padding-left: 10px;
}

.notification-item {
    padding: 20px 20px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

.notification-item:hover {
    background-color: #ccc;
}

.notification-item:last-child {
    border-bottom: none;
}

.notification-list.show {
    display: flex;
    flex-direction: column;
}

.notification-list.hidden {
    display: none;
}

.notification-indicator {
    position: absolute;
    top: 40px;
    right: 28px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: none;
}

.notification-indicator.show {
    display: inline-block;
}

.notification-item.unread {
    font-weight: bold;
    position: relative;
}

.notification-item.unread::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    transform: translateY(-50%);
}

.notification-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
}

#mark-all-read {
    text-decoration: underline;
}

.roadmap-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.roadmap-container h1 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: bold;
    color: #142A74;
    margin: 0;
    position: absolute;
    top: 5%;
}

.roadmap-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: relative;
    border-radius: 10px;
}

.arrow {
    position: absolute;
    font-size: 80px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.arrow:hover {
    transform: translateY(-30px);
}

.arrow1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 30%;
    left: 10%;
    color: #142A74;
}

.arrow2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 30%;
    color: #B60505;
}

.arrow3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 40%;
    left: 50%;
    color: #142A74;
}

.arrow4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 70%;
    color: #B60505;
}

.arrow1 p, .arrow2 p, .arrow3 p, .arrow4 p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.information-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.appointment-card, .balance-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.appointment-card p, .balance-card p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    color: #2F2E2E;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    display: flex;
    justify-content: center;
    font-family: Poppins;
    font-size: 24px;
    font-weight: bold;
    color: #142A74;
    margin: 0;
}

.card-title p {
    margin: 0;
}

.card-button {
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
    background-color: #142A74;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    width: 60%;
}

.card-button:hover {
    background-color: #142a74ec;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#packageModalBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

#packageName {
    font-size: 18px;
    font-weight: bold;
    color: #2F2E2E;
    margin: 0;
}

#packagePrice {
    font-size: 14px;
    font-weight: bold;
    color: #B60505;
    margin: 0;
}

#packageDescription {
    font-size: 14px;
    color: #2F2E2E;
    font-weight: 500;
    margin: 0;
}

.disabled-link {
    pointer-events: none;
    color: gray;
    text-decoration: none;
    cursor: default;
}

.evaluation-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.wheels-card, .motors-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.eval-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    text-align: center;
}

.eval-container h3 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: bold;
    color: #142A74;
    margin: 0;
}

.eval-container p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    color: #2F2E2E;
    margin: 0;
}

.eval-container button {
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
    background-color: #142A74;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    width: 60%;
}

.eval-container button:hover {
    background-color: #142a74ec;
}

#WheelsModal .modal-dialog {
    max-width: 800px;
    width: 100%;
    top: auto;
}

#MotorsModal .modal-dialog {
    max-width: 800px;
    width: 100%;
    top: auto;
}

.evaluation-table {
    width: auto;
    border-collapse: collapse;
    margin-top: 10px;
}

.evaluation-table th, .evaluation-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: #2F2E2E;
}

.evaluation-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.evaluation-table td:nth-child(1) {
    vertical-align: middle;
}

.evaluation-table thead th {
    text-align: center;
}

.evaluation-table td input {
    padding: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
}

.evaluation-table td textarea {
    padding: 5px;
    border: none;
    font-weight: 500;
    font-size: 14px;
}

.main {
    font-weight: 600;
}

tbody tr .main-text {
    padding-left: 50px;
}

.static-text-score {
    width: 100%;
    padding: 5px;
    text-align: center;
    color: #142A74;
    border: none;
}

.score-input {
    width: 10%;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.static-text {
    pointer-events: none;
    color: #2F2E2E;
    padding: 5px;
    width: 100%;
    text-align: center;
}

.checkbox-checklist {
    border: 1px solid #D9D9D9;
    padding: 20px;
    border-radius: 10px;
}

.checkbox-checklist h5 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    color: #2F2E2E;
    margin-bottom: 20px;
    text-align: center;
}

#observationResult, #spaceManagementResult, #speedControlResult, #steeringResult, #communicationResult, #generalResult, #startTheEngine, #variousRoadUsers, #kindofJunctions {
    text-align: center;
}

@keyframes popOut {
    0% {
        opacity: 0;
        transform: scale(0.5); /* Starts smaller */
    }
    80% {
        transform: scale(1.05); /* Slight overshoot for a popping effect */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* Full size */
    }
}

.modal-content {
    animation: popOut 0.4s ease; /* Duration of the pop-out animation */
}

.modal-header, .modal-body, .modal-footer {
    border: none;
}

.modal-dialog {
    top: 30%;
    left: 5%;
    border-radius: 20px;
}

.modal-content {
    justify-content: space-evenly;
    font-family: Poppins;
    border-radius: 20px;
    padding: 20px;
}

.modal-title {
    font-weight: bold;
    color: #142A74;
}

.modal-body {
    font-size: 14px;
}

#roadmapstepsModal .modal-dialog {
    top: auto;
    left: 5%;
    width: 100%;
    max-width: 1000px;
}

#roadmapstepsModal .modal-content {
    padding: 20px;
}

#roadmapstepsModal .modal-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.step-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.step-container ul {
    margin: 0;
}

#roadmapstepsModal .modal-body h3{
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

#roadmapstepsModal .modal-body p {
    font-size: 14px;
    color: #333;
    margin: 0;
}

.close {
    font-size: 24px;
    color: #142A74;
    cursor: pointer;
}

.btn-primary {
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
    background-color: #142A74;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
}

.btn-primary:hover {
    background-color: #142a74ec;
}

.btn-secondary {
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
    background-color: #B60505;
    border-radius: 30px;
    padding: 10px 30px;
}

.btn-secondary:hover {
    background-color: #b60505ec;
}

/* Custom scrollbar for WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px; /* Optional: Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
    background-color: #142A74; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Optional: Rounded corners for the thumb */
    border: 3px solid #f1f1f1; /* Optional: Adds padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0e1d4d; /* Darker color on hover */
}