body {
    margin: 0;
    padding: 0;
}

.whole-page {
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    padding: 30px 30px;
    background-color: #ffffff;
    border-right: 1px solid #D9D9D9;
}

.sidebar-content {
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.b3slogo {
    width: 55px;
    height: 55px;
}

.brand-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2F2E2E;
}

.brand-title {
    font-family: Poppins; 
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
}

.sidebar-dashboard {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px 0;
}

.sidebar-dashboard a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-dashboard a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-dashboard::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar-menu a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-menu a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-menu::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-dashboard i, .sidebar-menu i, .sidebar-account i {
    margin-right: 10px;
}

.sidebar-account {
    display: flex;
    flex-direction: column;
}

.sidebar a.active, .sidebar button.active {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.profile, .logout {
    border: none;
    background: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    margin-top: 20px;
    padding: 20px 30px;
}

.profile:hover, .logout:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh; 
    margin-left: 300px; 
    width: calc(100% - 300px); /
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
        width: 100%; 
    }
}
.header {
    position: fixed;
    top: 0;
    left: 300px; 
    display: flex;
    flex-direction: row;
    width: calc(100% - 300px);
    padding: 40px 30px;
    background-color: #ffffff;
    justify-content: center;
    z-index: 1000;
}

@media (max-width: 768px) {
    .header {
        left: 0;
        width: 100%; 
        padding: 20px; 
    }
}

h3 {
    font-family: Poppins;
    font-size: 22px;
    font-weight: bold;
    color: #2F2E2E;
}

h2 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: normal;
    color: #2F2E2E;
}
@media (max-width: 768px) {
    h3 {
        font-size: 20px;
    }
    h2 {
        font-size: 22px;
    }
}

.page-content {
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    background-color: #f5f5f5;
    height: 100%;
}
@media (max-width: 768px) {
    .page-content {
        padding: 15px 15px; 
    }
}

.page-content-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}
@media (max-width: 768px) {
    .page-content-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 10px;
    }
}

.my-sched a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #142A74;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}
@media (max-width: 768px) {
    .my-sched a {
        font-size: 12px; 
        padding: 8px 16px;
    }
}

.my-sched a:hover{
    background-color: #0c1a3f; 
    text-decoration: none;
}

.page-content-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 10px;
    height: 100%;
}
@media (max-width: 768px) {
    .page-content-body {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        gap: 30px;
    }
}

.tdc, .pdc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    padding: 20px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
    .tdc, .pdc {
        width: 80%; 
    }
}

.tdc:hover, .pdc:hover {
   text-decoration: none;
}

.tdc h3, .pdc h3 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    color: #252641;
}
@media (max-width: 768px) {
    .tdc h3, .pdc h3 {
        font-size: 16px; 
    }
}

.tdc img, .pdc img {
    width: 70%;
    height: 70%;
}
@media (max-width: 768px) {
    .tdc img, .pdc img {
        width: 60%;
        height: 60%; 
    }
}


@keyframes popOut {
    0% {
        opacity: 0;
        transform: scale(0.5); /* Starts smaller */
    }
    80% {
        transform: scale(1.05); /* Slight overshoot for a popping effect */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* Full size */
    }
}

.modal-content {
    animation: popOut 0.4s ease;
}
@media (max-width: 768px) {
    .modal-content {
        padding: 10px;
    }
}

.modal-header, .modal-body, .modal-footer {
    border: none;
}

.modal-dialog {
    top: 30%;
    left: 5%;
    border-radius: 20px;
}
@media (max-width: 768px) {
    .modal-dialog {
        top: 10%;
        left: 0;
        width: 90%;
    }
}

.modal-content {
    justify-content: space-evenly;
    font-family: Poppins;
    border-radius: 20px;
    padding: 20px;
}

.modal-title {
    font-weight: bold;
    color: #142A74;
}
@media (max-width: 480px) {
    .modal-title {
        font-size: 18px;
    }
}

.modal-body {
    font-size: 14px;
}
@media (max-width: 480px) {
    .modal-body {
        font-size: 12px;
    }
}
.close {
    font-size: 24px;
    color: #142A74;
}
@media (max-width: 480px) {
    .close {
        font-size: 20px;
    }
}

.btn-primary {
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
    background-color: #142A74;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
}
@media (max-width: 480px) {
    .btn-primary {
        padding: 8px 20px;
    }
}

.btn-primary:hover {
    background-color: #142a74ec;
}

.btn-secondary {
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
    background-color: #B60505;
    border-radius: 30px;
    padding: 10px 30px;
}
@media (max-width: 480px) {
    .btn-secondary {
        padding: 8px 20px;
    }
}

.btn-secondary:hover {
    background-color: #b60505ec;
}

.disabled-link {
    color: gray;
    opacity: 0.65;
    text-decoration: none;
    cursor: default;
}

.popover {
    border-radius: 10px;
    background-color: #f8f9fa; /* Light background color */
    width: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Smooth transition */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
    padding: 10px; /* Adjust padding inside popover */
}

/* Popover visible state */
.popover.show {
    opacity: 1; /* Make it visible */
}

/* Style for the popover arrow */
.popover .arrow {
    border-width: 10px;
    border-color: transparent;
}

/* Popover body style */
.popover-body {
    font-size: 14px; /* Adjust font size for content */
    padding: 10px; /* Add padding to the body */
    color: #333; /* Text color */
}

/* Optional: Add custom background color and text color for better visibility */
.popover-header {
    background-color: #007bff;
    color: white;
    padding: 8px 10px;
    border-bottom: 1px solid #e9ecef;
    font-size: 16px;
    border-radius: 10px 10px 0 0;
}

.sidebar-toggle-btn {
    display: none;
}

/* Hide sidebar by default on smaller screens */
@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100vh;
        transition: left 0.3s ease; /* Sidebar slides in and out */
        z-index: 1000;
    }

    /* Main content shifts when sidebar is shown */
    .main-content {
        margin-left: 0;
        transition: margin-left 0.3s ease;
    }

    /* When the sidebar is active (visible) */
    .sidebar.active {
        left: 0; /* Slide in the sidebar */
    }

    .main-content.active {
        margin-left: 300px; /* Shift content when sidebar is active */
    }

    /* Toggle button styles */
    .sidebar-toggle-btn {
        position: fixed;
        top: 20px;
        left: 20px;
        background-color: #142A74;
        color: #fff;
        padding: 10px 15px;
        border-radius: 5px;
        z-index: 1100;
        cursor: pointer;
        display: block;
    }

    /* Sidebar item adjustments */
    .sidebar-dashboard a, .sidebar-menu a, .profile, .logout {
        padding: 10px 15px;
        font-size: 14px;
    }

    /* Video cards responsive layout */
    .video-card {
        flex: 0 1 calc(50% - 10px);
    }

    /* For very small screens */
    @media (max-width: 576px) {
        .video-card {
            flex: 0 1 calc(100% - 10px);
        }
    }
}