body {
    margin: 0;
    padding: 0;
}

.whole-page {
    display: flex;
    flex-direction: row;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 40px 30px;
    background-color: #ffffff;
    justify-content: center;
    z-index: 1000;
}

h3 {
    font-family: Poppins;
    font-size: 22px;
    font-weight: bold;
    color: #142A74;
}

h2 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: normal;
    color: #2F2E2E;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #f5f5f5;
    height: 100%;
    gap: 10px;
}

.progress-bar {
    width: 70%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar-fill {
    width: 0%;
    height: 100%;
    background-color: #142A74;
    border-radius: 10px;
    transition: width 0.4s ease;
}

.quiz-category {
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    color: #2F2E2E;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    width: 70%;
    height: 100%;
}

.quiz-container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #142A74;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.quiz-container-header h5 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
}

.quiz-progress {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
}

.quiz-question {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    gap: 40px;
    background-color: #ffffff;
}

.quiz-image img {
    width: 100%;
    height: 300px;
    object-fit: scale-down;
    margin: 0 auto;
}

.quiz-question-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.questions-and-answer {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.questions-and-answer h4 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    color: #2F2E2E;
    margin-bottom: 20px;
}

.question-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.option span {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    color: #2F2E2E;
    margin: 0;
}

.option p {
    font-size: 17px;
    font-weight: normal;
    color: #2F2E2E;
    margin: 0;
}

.option input {
    font-size: 14px;
    font-weight: normal;
    color: #2F2E2E;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.option input[type="radio"] {
    appearance: none; 
    width: 20px;
    height: 20px;
    border: 2px solid #2F2E2E;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.option input[type="radio"]:checked {
    background-color: #142A74;
    border: 2px solid #142A74;
}

.option input[type="radio"]::after {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease-in-out;
}

.option input[type="radio"]:checked::after {
    transform: translate(-50%, -50%) scale(1);
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.right-buttons {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.back-btn {
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
    background-color: #B60505;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-btn:hover {
    background-color: #c9302c;
    color: #ffffff;
}

.next-btn, .save-btn {
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
    background-color: #142A74;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.next-btn:hover, .save-btn:hover {
    background-color: #1B3286;
}

.save-btn {
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
    background-color: #142A74;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.save-btn:hover {
    background-color: #1B3286;
}

.back-btn, .next-btn, .save-btn {
    display: none; /* Hide buttons on page load */
}

@keyframes popOut {
    0% {
        opacity: 0;
        transform: scale(0.5); /* Starts smaller */
    }
    80% {
        transform: scale(1.05); /* Slight overshoot for a popping effect */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* Full size */
    }
}

.modal-content {
    animation: popOut 0.4s ease; /* Duration of the pop-out animation */
}

.modal-header, .modal-body, .modal-footer {
    border: none;
}

.modal-dialog {
    top: 30%;
    left: 5%;
    border-radius: 20px;
}

.modal-content {
    justify-content: space-evenly;
    font-family: Poppins;
    border-radius: 20px;
    padding: 20px;
}

.modal-title {
    font-weight: bold;
    color: #142A74;
}

.modal-body {
    font-size: 14px;
}

.close {
    font-size: 24px;
    color: #142A74;
}

.btn-primary {
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
    background-color: #142A74;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
}

.btn-primary:hover {
    background-color: #142a74ec;
}

.btn-secondary {
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
    background-color: #B60505;
    border-radius: 30px;
    padding: 10px 30px;
}

.btn-secondary:hover {
    background-color: #b60505ec;
}