body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.whole-page {
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    padding: 30px 30px;
    background-color: #ffffff;
    border-right: 1px solid #D9D9D9;
}

.sidebar-content {
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.b3slogo {
    width: 55px;
    height: 55px;
}

.brand-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2F2E2E;
}

.brand-title {
    font-family: Poppins; 
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
}

.sidebar-dashboard {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px 0;
}

.sidebar-dashboard a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-dashboard a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-dashboard::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar-menu a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2F2E2E;
    margin-top: 20px;
    padding: 20px 30px;
}

.sidebar-menu a:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.sidebar-menu::after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.sidebar-dashboard i, .sidebar-menu i, .sidebar-account i {
    margin-right: 10px;
}

.sidebar-account {
    display: flex;
    flex-direction: column;
}

.sidebar a.active, .sidebar button.active {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.profile, .logout {
    border: none;
    background: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    margin-top: 20px;
    padding: 20px 30px;
}

.profile:hover, .logout:hover {
    background-color: #142A74;
    border-radius: 10px;
    color: #ffffff;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    width: calc(100% - 300px);
    margin-left: 300px;
}

.main-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #ffffff;
    border-bottom: 1px solid #D9D9D9;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: calc(100% - 300px);
    padding: 40px 30px;
    background-color: #ffffff;
    justify-content: center;
    z-index: 1000;
}

.title {
    margin-left: auto;
}

h3 {
    font-family: Poppins;
    font-size: 22px;
    font-weight: bold;
    color: #2F2E2E;
}

h2 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: normal;
    color: #2F2E2E;
}

.page-content {
    padding: 30px 30px;
    background-color: #f5f5f5;
    height: 100%;
}

.personality-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #142A74;;
    border-radius: 20px;
    height: 100%;
}

.container-header {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #142A74, #8597D4);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 200px;
}

.profile-pic {
    min-width: 300px;
    min-height: 300px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    background-color: #dfe4ea; 
}

.container-body {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100%;
    gap: 40px;
}

.top-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.name {
    font-family: Poppins;
    font-size: 28px;
    font-weight: normal;
    color: #2F2E2E;
}

.message {
    font-family: Poppins;
    font-size: 32px;
    font-weight: bold;
    color: green;
}

.bottom-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 30px;
}

.left-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-right: 10px;
    border-right: 1px solid #D9D9D9;
}

.left-info-header span, .right-info-header span {
    font-size: 24px;
    font-weight: bold;
    color: #142A74;
}

.rating-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ratings {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rating {
    font-size: 48px;
    font-weight: bold;
    color: #142A74;
    display: inline-block;
}

.out-of-five {
    font-size: 24px;
    color: #142A74;
    vertical-align: top;
    font-style: oblique;
    margin-left: 5px;
    margin-right: 5px;
}

.stars {
    color: #FFD700;
    font-size: 24px;
    margin-left: 10px;
}

.total {
    font-size: 14px;
    font-weight: normal;
    color: #2F2E2E;
}

.rating-bars {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}

.rating-bar {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #2F2E2E;
}

.rating-bar span:first-child {
    display: flex;
}

.rating-bar i {
    color: #FFD700;
    font-size: 14px;
    margin-left: 5px;
}

.rating-bar:last-child {
    display: flex;
    flex-direction: row;
    margin-left: 3px;
}

.rating-bar .bar {
    height: 12px;
    border-radius: 10px;
    margin: 0 10px;
    transition: width 0.3s ease;
    background-color: #142A74;
    margin-left: 15px;
}

.feedback {
    margin-left: auto;
}

.feedback-btn {
    font-size: 12px;
    color: #ffffff;
    background-color: #142A74;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

.right-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 40px;
}

.right-info-header {
    text-align: center;
}

.right-info-body {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.about-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about-container h5 {
    font-size: 18px;
    font-weight: bold;
    color: #142A74;
    text-align: center
}

.about-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    min-height: 240px;
    max-height: 240px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.traits-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5px;
}

.traits {
    font-size: 14px;
    font-weight: normal;
    color: #2F2E2E;
}

.comments-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comments-section h5 {
    font-size: 18px;
    font-weight: bold;
    color: #142A74;
    text-align: center
}

.comments-header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 240px;
    max-height: 240px;
    overflow-y: auto;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.no-comments {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    font-size: 14px;
    font-weight: 500;
}

.comment {
    min-height: 90px;
    max-height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #D9D9D9;
    padding: 10px;
}

.comment p {
    font-size: 11px;
    color: #2F2E2E;
}

.comment span {
    font-size: 12px;
    font-weight: 600;
    color: #2F2E2E;
    margin-left: 30px;
}

.feedback-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feedback-date {
    display: flex;
    align-items: flex-end;
    font-size: 11px;
    color: #2F2E2E;
}

.comment i.bi-star-fill {
    color: #FFD700;
    font-size: 14px;
}

.comment i.bi-star {
    color: #ccc;
    font-size: 14px;
}

.bi-check-circle {
    color: green;
    font-size: 18px;
    margin-right: 10px;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    display: none;
}

.close-btn {
    display: flex;
}

.bi-x-lg {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 26px;
    color: #142A74;
    background: none;
    border: none;
    cursor: pointer;
}

.feedback-form h3 {
    font-size: 24px;
    font-weight: bold;
    color: #142A74;
    text-align: center;
}

.feedback-form span {
    font-size: 14px;
    font-weight: 500;
    color: #2F2E2E;
    text-align: center;
    display: block;
    width: 100%;
}

.stars-rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.stars-rating i {
    font-size: 40px;
    color: #FFD700;
    margin: 0 10px;
    cursor: pointer;
}

.form-group label {
    font-size: 14px;
    font-weight: 500;
    color: #2F2E2E;
}

.input-group textarea {
    font-size: 14px;
    color: #2F2E2E;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
}

.submit-button {
    display: flex;
    justify-content: center;
}

.feedback-submit-btn {
    font-size: 12px;
    color: #ffffff;
    background-color: #142A74;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

@keyframes popOut {
    0% {
        opacity: 0;
        transform: scale(0.5); /* Starts smaller */
    }
    80% {
        transform: scale(1.05); /* Slight overshoot for a popping effect */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* Full size */
    }
}

.modal-content {
    animation: popOut 0.4s ease; /* Duration of the pop-out animation */
}

.modal-header, .modal-body, .modal-footer {
    border: none;
}

.modal-dialog {
    top: 30%;
    left: 5%;
    border-radius: 20px;
}

.modal-content {
    justify-content: space-evenly;
    font-family: Poppins;
    border-radius: 20px;
    padding: 20px;
}

.modal-title {
    font-weight: bold;
    color: #142A74;
}

.modal-body {
    font-size: 14px;
}

.close {
    font-size: 24px;
    color: #142A74;
}

.btn-primary {
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
    background-color: #142A74;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
}

.btn-primary:hover {
    background-color: #142a74ec;
}

.btn-secondary {
    font-family: Poppins;
    font-size: 14px;
    color: #ffffff;
    background-color: #B60505;
    border-radius: 30px;
    padding: 10px 30px;
}

.btn-secondary:hover {
    background-color: #b60505ec;
}

#giveFeedbackBtn:disabled {
    cursor: not-allowed;
}

.loader1 {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 84.3%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.loader1 .car-loader {
    width: 80px;
    height: 80px;
    border: 4px solid #ccc;
    border-radius: 50%;
    border-top: 4px solid #142A74;
    animation: spin 2s linear infinite;
    position: relative;
}

.loader1 p {
    margin-top: 20px;
    font-size: 18px;
    color: #142A74;
    position: relative;
}

.dots {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

.dots::after {
    content: '';
    display: inline-block;
    animation: dot-flashing 1.5s infinite linear;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes dot-flashing {
    0% {
        content: '.';
    }
    25% {
        content: '..';
    }
    50% {
        content: '...';
    }
    75% {
        content: '..';
    }
    100% {
        content: '.';
    }
}

.popover {
    border-radius: 10px;
    background-color: #f8f9fa; /* Light background color */
    width: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Smooth transition */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
    padding: 10px; /* Adjust padding inside popover */
}

/* Popover visible state */
.popover.show {
    opacity: 1; /* Make it visible */
}

/* Style for the popover arrow */
.popover .arrow {
    border-width: 10px;
    border-color: transparent;
}

/* Popover body style */
.popover-body {
    font-size: 14px; /* Adjust font size for content */
    padding: 10px; /* Add padding to the body */
    color: #333; /* Text color */
}

/* Optional: Add custom background color and text color for better visibility */
.popover-header {
    background-color: #007bff;
    color: white;
    padding: 8px 10px;
    border-bottom: 1px solid #e9ecef;
    font-size: 16px;
    border-radius: 10px 10px 0 0;
}

#commentsSection::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

#commentsSection::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px; /* Optional: Rounded corners for the track */
}

#commentsSection::-webkit-scrollbar-thumb {
    background-color: #142A74; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Optional: Rounded corners for the thumb */
    border: 3px solid #f1f1f1; /* Optional: Adds padding around the thumb */
}

#commentsSection::-webkit-scrollbar-thumb:hover {
    background-color: #0e1d4d; /* Darker color on hover */
}